<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans.xsd
	http://www.springframework.org/schema/context
	http://www.springframework.org/schema/context/spring-context.xsd
	http://www.springframework.org/schema/mvc
	http://www.springframework.org/schema/mvc/spring-mvc.xsd">
	<!-- 配置SpringMVC -->
	<!-- 1.开启SpringMVC注解模式 -->
	<!-- 简化配置： (1)自动注册DefaultAnnotationHandlerMapping,AnnotationMethodHandlerAdapter
		(2)提供一些列：数据绑定，数字和日期的format @NumberFormat, @DateTimeFormat, xml,json默认读写支持 -->
	<mvc:annotation-driven>
<!-- 		<mvc:message-converters register-defaults="true"> -->
<!-- 	        <bean class="org.springframework.http.converter.StringHttpMessageConverter"> -->
<!-- 	        	<constructor-arg value="UTF-8"/> -->
<!-- 	        </bean> -->
<!-- 	        <bean class="org.springframework.http.converter.json.MappingJackson2HttpMessageConverter"> -->
<!-- 	            <property name="objectMapper"> -->
<!-- 	                <bean class="org.springframework.http.converter.json.Jackson2ObjectMapperFactoryBean"> -->
<!-- 	                    <property name="failOnEmptyBeans" value="false"/> -->
<!-- 	                </bean> -->
<!-- 	            </property> -->
<!-- 	        </bean> -->
<!--     	</mvc:message-converters> -->
	</mvc:annotation-driven>

	<!-- 2.静态资源默认servlet配置 (1)加入对静态资源的处理：js,gif,png (2)允许使用"/"做整体映射 -->
	<mvc:default-servlet-handler />
	<mvc:resources location="/resources/" mapping="/resources/**"/>


	<!-- 3.配置jsp 显示ViewResolver -->
	<bean class="org.springframework.web.servlet.view.InternalResourceViewResolver">
		<property name="viewClass" value="org.springframework.web.servlet.view.JstlView" />
		<property name="prefix" value="/WEB-INF/views/" />
		<property name="suffix" value=".jsp" />
	</bean>

	<!-- 4.扫描web相关的bean -->
	<context:component-scan base-package="com.watero.controller"/>


	<mvc:view-controller path="/" view-name="admin/admin-login"/>
	<mvc:view-controller path="/index.html" view-name="admin/admin-login"/>

	<mvc:view-controller path="/main.html" view-name="admin/admin-main"/>
	<mvc:view-controller path="/error" view-name="system-error"/>

	<!--配置拦截器-->
<!--    <mvc:interceptors>
        <mvc:interceptor>
        	<mvc:mapping path="/**"/>
        	<mvc:exclude-mapping path="/"/>
			<mvc:exclude-mapping path="/index.html"/>
			<mvc:exclude-mapping path="/resources/**"/>
			<mvc:exclude-mapping path="/admin/login"/>
			<mvc:exclude-mapping path="/admin/logout"/>
        	<bean class="com.watero.interceptor.LoginInterceptor" />
        </mvc:interceptor>
	</mvc:interceptors>-->

	<!-- 基于XML的异常映射 -->
	<bean id="simpleMappingExceptionResolver" class="org.springframework.web.servlet.handler.SimpleMappingExceptionResolver">
		<property name="exceptionMappings">
			<props>
				<!-- key指定异常的全类名 标签体对应视图名称 -->
				<prop key="java.lang.Exception">system-error</prop>
			</props>		
		</property>
	</bean>

</beans>
